
<div class="container" >

    <div class="parent">
      
    <table class="table">
      
        <thead>
                <input class="form-control" type="text" placeholder="Search By Name" [(ngModel)]="searchTeam"/> 
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nationality</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr id="dataRacer"  *ngFor="let eachRacer of dataRacer | RacerFilterPipe : searchTeam">
        
            <th scope="row"> {{eachRacer.position}}</th>
            <td>{{eachRacer.nationality}}</td>
            <td>{{eachRacer.givenName + '' + eachRacer.familyName}} </td>
            <td>{{eachRacer.name}}</td>
            <td>{{eachRacer.points}}</td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>

